body {
 background-color : #777;
}

div.first_step {
 width : 620px;
 margin: 0 auto;
 margin-top : 150px;
 text-align : center;
}

div.first_step img {
 width : 600px;
}

div.first_step input {
 width : 610px;
}

div.first_step button {
 width : 620px;
 height : 60px;
 font-size : 28px;
}

div.round {
 display : none;
}

div.div_cat {
 display : inline-block;
 background-color : red;
 width : 300px;
 margin : 100px;
 padding : 20px;
}

div.team {
 display : inline-block;
 background-color : yellow;
 margin-left : 20px;
 margin-right : 20px;
 padding : 0px;
 text-align : center;
 border : 2px solid blue;
}

div.team div {
 display : inline-block;
 color : white;
 font-size : 70px;
 font-family : Arial;
 font-weight : bold;
 padding-left : 30px;
 padding-right : 30px;
}
div.yes {
 float : left;
 background-color : green;
}
div.no {
 float : right;
 background-color : red;
}

div.team .name {
 display : block;
 font-size : 40px;
 margin-top : 0px;
 background-color : blue;
 color : yellow;
 padding : 5px;
}

div.team .points {
 font-size : 50px;
}

div.question {
 font-size : 64px;
 font-family : Arial;
 color : yellow;
 font-weight : bold;
 text-align : center;
 height : 450px;
}

div.timer {
 float : right;
 font-family : Courier New, monospace;
 font-size : 90px;
 font-weight : bold;
 color : red;
 display : none;
 width : 100px;
 text-align : center;
}

div.div_button {
 width : 50px;
 text-align : center;
 font-size : 80px;
 font-family : Courier New, monospace;
 font-weight : bold;
 display : inline-block;
}
div.div_button:hover {
 color : blue;
}

span.start_header {
 font-family : Courier New, monospace;
 font-size : 150px;
 font-weight : bold;
 background-color : blue;
 padding : 0px 30px;
}

table.div_round_div_table {
 background-color: #777;
}

table.div_round_div_table tr:hover {
 background-color: #aaa;
}

td.theme {
 text-align : center;
 color : yellow;
 font-family : Arial;
 font-weight : bold;
 font-size : 56px;
 border : 2px solid blue;
 border-left : none;
 border-right : none;
 border-top : none;
}

td.point {
 text-align : center;
 color : yellow;
 font-family : Arial;
 font-weight : bold;
 font-size : 56px;
 width : 100px;
 padding-left : 20px;
 padding-right : 20px;
 padding-top : 8px;
 padding-bottom : 8px;
 border : 2px solid blue;
 border-left : none;
 border-right : none;
 border-top : none;
}

td.point:hover {
 background-color : blue;
}

div.round h1 {
 font-family : Courier New, monospace;
 font-size : 50px;
 font-weight : bold;
 background-color : blue;
 padding : 10px 0px;
 margin : -10px -10px 0px;
}
