body {
 background-color : blue;
}

div.first_step {
 width : 600px;
 margin: 0 auto;
 margin-top : 100px;
}

div.first_step img {
 width : 600px;
}

div.first_step input {
 width : 592px;
}

div.first_step button {
 width : 600px;
 height : 60px;
 font-size : 28px;
}

div.round {
 display : none;
}

div.team {
 display : inline-block;
 background-color : gray;
 margin-left : 20px;
 margin-right : 20px;
 padding-top : 10px;
 padding-bottom : 10px;
 padding-left : 10px;
 padding-right : 10px;
 text-align : center;
}

div.team div {
 display : inline-block;
 color : white;
 font-size : 70px;
 font-family : Arial;
 font-weight : bold;
 padding-left : 30px;
 padding-right : 30px;
 margin-top : -10px;
 margin-left : -10px;
 margin-right : -10px;
}
div.yes {
 float : left;
 background-color : green;
}
div.no {
 float : right;
 background-color : red;
}

div.team .name {
 font-size : 40px;
}

div.team .points {
 font-size : 50px;
}

div.question {
 font-size : 64px;
 font-family : Arial;
 color : yellow;
 font-weight : bold;
 text-align : center;
 height : 450px;
}

div.timer {
 float : right;
 font-size : 50px;
 color : red;
 display : none;
 width : 100px;
 text-align : center;
}

td.theme {
 text-align : center;
 color : yellow;
 font-family : Arial;
 font-weight : bold;
 font-size : 56px;
 border-left : none;
 border-top : none;
}

td.point {
 text-align : center;
 color : yellow;
 font-family : Arial;
 font-weight : bold;
 font-size : 56px;
 padding-left : 20px;
 padding-right : 20px;
 padding-top : 10px;
 padding-bottom : 10px;
 border-left : none;
 border-top : none;
}
