body {
 background-color : blue;
}

div.first_step {
 width : 600px;
 margin: 0 auto;
 margin-top : 100px;
}

div.first_step img {
 width : 600px;
}

div.first_step input {
 width : 592px;
}

div.first_step button {
 width : 600px;
 height : 60px;
 font-size : 28px;
}

div.round {
 display : none;
}

div.team {
 display : inline-block;
 background-color : gray;
 margin-left : 20px;
 margin-right : 20px;
 padding-top : 10px;
 padding-bottom : 10px;
 padding-left : 10px;
 padding-right : 10px;
}

div.team .name {
 font-size : 40px;
}

div.team .points {
 font-size : 50px;
}

td.theme {
 text-align : center;
 color : yellow;
 font-family : Arial;
 font-weight : bold;
 font-size : 56px;
 border-left : none;
 border-top : none;
}

td.point {
 text-align : center;
 color : yellow;
 font-family : Arial;
 font-weight : bold;
 font-size : 56px;
 padding-left : 20px;
 padding-right : 20px;
 padding-top : 10px;
 padding-bottom : 10px;
 border-left : none;
 border-top : none;
}
